/* set variables using :root */
:root {
  --color-primary: #b50938;
  --color-text-on-primary: #fff;
  --color-secondary: #d9d2d4;
  --color-text-on-secondary: black;
  --color-tertiary: #fff;
  --color-text-on-tertiary: black;

  --font-family: "Inter", sans-serif;
}
html,
body,
.app-parent {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--color-tertiary);
  color: var(--color-text-on-tertiary);
  box-sizing: border-box;
  font-family: "Ubuntu Light", "Century Gothic", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(5, 5, 5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#root {
  grid-area: 1 / 1 / 2 / 2;
}
#modal-root {
  grid-area: 2 / 1 / 3 / 2;
}

.app-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 3%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.nav {
  grid-area: 1 / 1 / 2 / 2;
}
.home {
  grid-area: 2 / 1 / 3 / 2;
}
.foot {
  grid-area: 3 / 1 / 4 / 2;
}
/* NAV BAR STYLING */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 5px 5px;
  list-style: none;
  text-decoration: none;
  /* defines the inline end of an element depending on the text orientation
  margin-inline-end: 3px; */
}
.navbar li a {
  display: block;
  text-decoration: none;
  color: var(--color-text-on-secondary);
  border-right: 1px solid none;
  margin-right: 10px;
  margin-left: 10px;
}
.navbar li a :hover {
  font-weight: 800;
}
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
  padding: px;
}
.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
  padding: px;
}
/* FOOTER STYLING */
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 80%;
}
/* STYLING FOR HOMEPAGE */
/* https://www.freecodecamp.org/news/css-full-page-background-image-tutorial/ */
/* https://www.developerdrive.com/full-page-hero-image-html-css/ */
.homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(/Users/imma/Codesmith/Mid/solo-project/solo-project/client/homepage-image.jpeg);
  /* ensures background will not repeat */
  background-repeat: no-repeat;
  /* background stays centered  */
  background-position: center center;
  /* makes sure image stays in background */
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(90%);
}
.homepage-content {
  position: absolute;
  text-align: center;
  top: 0px;
}
/* STYLING FOR SIGN UP */
.login,
.signup,
.search-component,
.logged-in,
.user-page {
  top: 0;
  left: 0;
  text-align: center;
  color: black;
}
/* SEARCH INPUT */
#search-form {
  position: relative;
}
/* SEARCH RESULTS */
#search-results {
  display: flex;
  flex-direction: column;
}
/* ARTWORK CARDS */
.artwork-cards {
  position: block;
  padding: 5px;
  width: 30%;
  margin: 5px 5px 13px 10px;
  float: left;
  font-size: 0.8em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: 600;
}
